.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    background-color: #cd0a0a;
    color: rgb(33, 72, 200);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
  }
  

  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: #333;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%);
    }
  
    .nav-links.open {
      transform: translateX(0);
    }
  
    .hamburger {
      display: block;
    }
  }
  