@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Estilos generales del footer */
.footer {
  width: 100%;
  background-color: #fff;
  color: #000;
  padding: 40px 0px 0px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column-large {
  flex: 2;
  min-width: 400px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: left;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  text-align: left;
}

.footer-column ul li a {
  color: #8c8c8c;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
}

.footer-column p {
  margin-bottom: 10px;
  font-weight: 400;
  color: #8c8c8c;
}

.footer-column ul li {
  color: #8c8c8c;
}

/* Barra inferior del footer */
.footer-bar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.2);
}

.footer-bar p {
  margin: 0;
  font-weight: 400;
  color: #8c8c8c;
}

.footer-icons a {
  color: #fff;
  margin-left: 15px;
  font-size: 24px;
}

.footer-icons a:hover {
  color: #ccc;
}

.footer-icons img {
  width: 20px;
  height: auto;
}

/* Para pantallas de tablet (768px) */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    flex: 1 1 100%;
  }

  .footer-column-large {
    flex: 1 1 100%;
    min-width: auto;
  }

  .footer-bar {
    flex-direction: column;
    text-align: center;
  }

  .footer-icons {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .footer-column h3 {
    font-size: 16px;
  }

  .footer-column ul li a {
    font-size: 14px;
  }

  .footer-bar {
    padding: 10px 15px;
  }

  .footer-icons a {
    font-size: 20px;
    margin-left: 10px;
  }
}
